.details_container {
  @include grid(42% auto, auto);
  height: 70vh;
  width: 60vw;
  position: fixed;
  left: 1%;
  top: 7%;
  z-index: 2;
  transform: translateX(100vw);
  transition: transform 2s ease-in-out;
  //animation: 3s ease-in 1s infinite both running;
  &_visible {
    transform: translateX(10vw);
    transition: transform 2s ease-in-out;
    //animation: 0.5s linear 1s;
  }
  .poster {
    width: 100%;
    height: 82.5vh;
    border-top-left-radius: $base_radius;
    border-bottom-left-radius: $base_radius;
  }
  div:has(.right_container) {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: $base_radius;
    border-bottom-right-radius: $base_radius;
    width: 100%;
    height: 75.25vh;
  }
  .right_container {
    @include grid(auto auto, 20% auto auto auto auto, 0.5rem);
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
    color: white;
    backdrop-filter: brightness(0.2) blur(4px);
    border-top-right-radius: $base_radius;
    border-bottom-right-radius: $base_radius;
    span {
      color: $details_text;
      font-weight: $details_text_weight;
    }
    .close_btn {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: 3;
      img {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
      }
    }
    .title {
      @include flex(column);
      justify-content: space-between;
      align-items: flex-start;
      font-size: 2rem;
      grid-column: 1 / span 2;
      .user_rating {
        align-self: flex-end;
      }
    }
    .runtime {
      @include flex(row, 0.25rem);
      justify-content: flex-start;
      grid-row: 2;
    }
    .rating {
      @include flex(row);
      justify-content: flex-start;
      grid-row: 2;
      grid-column: 2;
    }
    .release {
      grid-row: 3;
    }
    .genres {
      grid-row: 3;
      grid-column: 2;
    }
    .plot {
      grid-row: 4;
      grid-column: 1 / span 2;
      max-height: 22vh;
      p {
        text-overflow: ellipsis;
        overflow: scroll;
        display: inline-block;
        overflow: scroll;
      }
    }
    .recommandations_container {
      width: 50vw;
      height: 5rem;
      grid-row: 5;
      grid-column: 1 / span 2;
      margin-bottom: 2rem;
      .swiper-slide {
        object-fit: cover;
        width: 5rem;
      }
      .recommandations {
        cursor: pointer;
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.7rem;
          text-align: center;
        }
        img {
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}
