.card_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% fit-content 5%;
  row-gap: 0.5rem;
  div:has(.blocks-wrapper) {
    grid-column: 1 / span 2;
  }
  .blocks-wrapper {
    @include flex();
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .poster,
  .popularity_date_container,
  .title_rating_container,
  .watched_btn {
    grid-column: 1 / span 2;
  }
  .watched_btn {
    @include button();
    padding: 0.65rem;
    width: 90%;
    &:hover {
      cursor: pointer;
      scale: 105%;
      img {
        border-radius: 50%;
      }
    }
    label {
      @include flex(row, 0.5rem);
      justify-content: center;
      width: 100%;
      cursor: pointer;
    }
  }
  .poster {
    position: relative;
    height: 20rem;
    grid-row: 2;
    overflow: hidden;
    border-radius: $base_radius;
    div {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      @include button();
      padding: 0.4rem;
      cursor: pointer;
      z-index: 3;
      &:hover span {
        display: none;
      }
      &:hover:before {
        content: "Delete";
      }
    }
    img {
      height: 100%;
      width: 100%;
      &:hover {
        cursor: pointer;
        scale: 110%;
        transition: all 0.35s ease-in-out;
      }
    }
  }
  .title_rating_container {
    @include flex(row, 0.5rem);
    justify-content: space-between;
    grid-row: 1;
    height: max-content;
    align-content: flex-end;
    .title {
      height: 100%;
      color: white;
      overflow: scroll;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .rating {
      @include flex(row);
      color: $yellow;
    }
    img {
      height: 3.5rem;
      margin-right: -1rem;
    }
    button {
      padding: 0;
      margin: 0;
      min-width: 0;
      @include gradiant_color();
    }
  }
  .popularity_date_container {
    @include flex(row);
    justify-content: space-between;
    grid-row: 3;
    color: $grey;
    font-size: 0.7rem;
    .popularity,
    .date {
      @include flex(row, 0.5rem);
    }
    .popularity {
      img {
        height: 1.2rem;
      }
    }
  }
}
