//Impoprts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;500;600;700;800;900&display=swap');
// Fonts
$myFont: "Poppins";

// main colors
$primary:#8323FF;
$black : #1E1F28;
$search_text: white;
$grey:#8B8D9B;
$yellow: #FEEA35;
$primary_linear: linear-gradient(91deg, #8323FF 0.99%, #FF2DAF 102.1%);

// Font weights 


//Font sizes

//Border Radius
$base_radius:1rem;