nav {
  @include flex(row);
  justify-content: space-between;
  padding: 2rem;
  .logo {
    width: 17rem;
  }
  div {
    @include button();
    width: 11rem;
    justify-content: space-between;
    gap: 0.1rem;
  }
  .search {
    justify-self: center;
    border: none;
    padding: 1.1rem 1.6rem;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    width: 35rem;
    height: 1.5rem;
    transition: all 0.3s;
    opacity: 0.15;
    &::placeholder {
      color: $grey;
    }

    &:focus {
      outline: none;
      box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
  }
}
