@mixin flex($direction: row, $gap: 0rem) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: center;
}
@mixin grid($columns: auto auto, $rows: auto auto, $gap: 0) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
}
@mixin button() {
  @include flex(row, 0.25rem);
  background: $primary_linear;
  padding: 0.75rem;
  border-radius: $base_radius;
  font-size: 1.15rem;
  height: 1.5rem;
  color: white;
  img {
    height: 2.2rem;
  }
}
@mixin gradiant_color() {
  background: $primary_linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
